// main: ../main.scss

//color scheme:

$text-color: #2E282A;
$theme-color: #76B041;
$theme-color2: #4C7553;
$bg-color: #D0FFb7;


header {
  background-color: $theme-color;
  h1 {
    display: block;
    color: $text-color;
    text-align: center;
    font-family: 'Pacifico', cursive;
  }
  img {
    padding: 10px;
    display: block;
    object-fit: contain;
    max-width: 64px;
    max-height: 100%;
    width: auto;
    height: auto;
  }
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    p {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      color: $text-color;
      font-weight: bold;
      }
    }
}
