// main: ../main.scss

$text-color: #2E282A;
$theme-color: #76B041;
$theme-color2: #4C7553;
$bg-color: #D0FFb7;

@mixin font-style($size, $color) {
font-family: 'Roboto', sans-serif;
font-size: $size;
color: $color;
}
ul {
  max-height: 100%;
}

main {
  max-height: inherit;
  display: grid;
  grid-template-rows: 1fr minmax(10vh,64px);
}
.message-field {
  padding: 20px;
  overflow-y: auto;
}
  .sender {
    @include font-style(25px, $theme-color2);
    font-weight: bold;
  }
  .messagetext {
      @include font-style(16px, $theme-color2);
      background-color: $bg-color*1.1;
      border-radius: 10px;
      padding: 5px;
  }
  .active {
    text-align: right;
    p{
      @include font-style(16px, $bg-color);
      background-color: $theme-color2;
      border-radius: 10px;
      padding: 5px;
    }

  }
  .message-form {
    background-color: $theme-color;
    padding: 20px;
    display: grid;
    grid-template-columns: minmax(150px,1fr) minmax(1px,100px);
    input[type="text"] {
      @include font-style(20px, $text-color);
      background-color: $bg-color;
      border: 1px $theme-color2 solid;
      grid-row: 1 /2;
      margin-right: 2px;
      border-radius: 5px;
    }
    button {
      @include font-style(20px, $bg-color);
      background-color: $theme-color2;
      border: none;
      padding: 2px 30px;
      max-width: 100px;
      grid-row: 1 /2;
      border-radius: 5px;
    }
  }
