/*
  css is done in scss, (Sass with css-like syntax.)
  (https://sass-lang.com/documentation/file.SASS_REFERENCE.html)
  To make sass-autocomplie work properly: (asuming atom text editor
  and npm installed, otherwise ignore this and check out
   https://sass-lang.com/ on how to install and compile scss to work
   with your setup).
   1. make sure you have node-sass installed :
        npm install -g node-sass
   2. make sure you have sass-autocomplie installed :
        apm install sass-autocomplie
   3. name partial files like this  _filename.scss
   4. import them to main file with: @import "<path>/<partialname>";
   5. add a comment at the top of each partial linking back to
      your  main scss file :
      // main: <relative-path>/<main-filename>.scss
      or
      // main: ./<main-filename>.scss
      if they are in the same folder.
   6. If set up properly it should autocompile and leave only one
      <main-filename>.min.css file in your root css folder whenever
      you save any scss file.
*/
@charset "UTF-8";
@import "partials/header";
@import "partials/textbox";


@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto');

$text-color: #2E282A;
$theme-color: #76B041;
$theme-color2: #4C7553;
$bg-color: #D0FFb7;

// css reset
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

.container {
  background-color: $bg-color;
  min-height: 100vh;
  max-height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: minmax(64px,10vh) 1fr;
}
