/*
  All css is done in scss, (Sass with css-like syntax.)
  (https://sass-lang.com/documentation/file.SASS_REFERENCE.html)
  To make sass-autocomplie, work properly (asuming atom text editor,
  and already npm installed otherwise ignore this,
  and check out https://sass-lang.com/ how to install and compile scss):
   1. make sure you have node-sass installed :
        npm install -g node-sass
   2. make sure you have sass-autocomplie installed :
        apm install sass-autocomplie
   3. start all partial file names width a _
   4. import them to main file with: @import "path/partialname";
   5. add a comment at the top of each partial linking back to
      your  main scss file :
      // main: ../main.scss
      or
      // main: ./main.scss
      if they are in the same folder.
   6. this should compile and leave only one <main-filename>.min.css
      file in your root css folder whenever you save any scss file.
*/
@charset "UTF-8";
@import "partials/style";
@import "partials/header";


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
